<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Helper</title>
    <link rel="stylesheet" href="\Interviewers\app\templates\styles-interviewer.css">
</head>
<body>
    <header>
        <h1>ResumeHelper For Interviewers</h1>
    </header>
    <main>
        <button id="job-similarity">Resume-Job Similarity Checker</button>
        <button id="parser">Resume Parser</button>
    </main>
    <script src="\Interviewers\app\templates\scripts.js"></script>
</body>
</html>
